{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2><b>Learning about budgeting money</b></h2>
<h3>This app allows teachers to create real life finance scenarios for students who want to understand budgeting and saving for big purchases.<br/> Students are then able to select a scenario and learn how to solve the issues.</h3>
<br>
<h5>As a country, we’ve seen where a lack of personal finance education can lead. Millions of Americans struggle every day with their money,</br> living paycheck to paycheck and relying on credit cards for necessities, only to wind up deep in debt and short on hope.</h5>
<br>
<h5>Financial literacy classes teach students the basics of money management: budgeting, saving, debt, investing, and giving. That knowledge lays</br> a foundation for students to build strong money habits early on and avoid many of the mistakes that lead to lifelong money struggles.</h5>
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
{% endblock %}






