
{% extends "main/base.html" %}

{% block title %}Scenario List{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.is_student %}
		<h1>{{scenario_list.name}}</h1>
		<form method="post" action="#">
			{% csrf_token %}
			{% for scenario in scenario_list.scenario_set.all %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{% if scenario.complete == True %}
							<input type="checkbox", value="clicked", name="c{{scenario.id}}" checked>
						{% else %}
							<input type="checkbox", value="clicked", name="c{{scenario.id}}">
						{% endif %}
					</div>
				</div>
				<input type="text", value="{{scenario.text}}" class="form-control">
			</div>
			{% endfor %}
			<button type="submit", name="save", value="save", class="btn btn-success">Save</button>
			</form>
			
	{% else %}
		<h1>{{scenario_list.name}}</h1>
		<form method="post" action="#">
			{% csrf_token %}
			{% for scenario in scenario_list.scenario_set.all %}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						{% if scenario.complete == True %}
							<input type="checkbox", value="clicked", name="c{{scenario.id}}" checked>
						{% else %}
							<input type="checkbox", value="clicked", name="c{{scenario.id}}">
						{% endif %}
					</div>
				</div>
				<input type="text", value="{{scenario.text}}" class="form-control">
			</div>
			{% endfor %}
			
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button type="submit", name="newScenario", value="newScenario", class="btn btn-success">Add Scenario</button>
				</div>
				<input type="text", name="newScenario">
			</div>

			<button type="submit", name="save", value="save", class="btn btn-success">Save</button>
		</form>
			
		{% endif %}    
	{% else %}
			<a href="{% url 'register' %">Please Register First</a>


      
{% endif %}
{% endblock %}
	