
{% extends "main/base.html" %}
{% block title %}Scenario List{% endblock %}

{% block content %}
	<h1>{{scenario_list.name}}</h1>
	<form method="post" action="#">
		{% csrf_token %}
		<ul>
			{% for scenario in scenario_list.scenario_set.all %}
				{% if scenario.complete == True %}
					<li><input type="checkbox", value="clicked", name="c{{scenario.id}}" checked>{{scenario.text}}</li>
				{% else %}
					<li><input type="checkbox", value="clicked", name="c{{scenario.id}}">{{scenario.text}}</li>
				{% endif %}
			{% endfor %}
		</ul>
		<button type="submit", name="save", value="save">Save</button>
		<input type="text", name="newScenario">
		<button type="submit", name="newScenario", value="newScenario">Add Scenario</button>
	</form>
{% endblock %}